<div class="page">
  <div class="container">
    <header>
      <div class="logo"></div>
      <nav>
        <ul class="main-menu">
          <li class="nav-home"><a href="#">Home</a></li>
          <li class="nav-recipe"><a href="#">Recipes</a></li>
          <li class="nav-order"><a href="#">Order Book</a></li>
        </ul>
      </nav>
    </header>
    <body>
    
    </body>
    <footer>
      <nav>
        <ul class="footer-menu">
          <li class="nav-faq"><a href="#">FAQ</a></li>
          <li class="nav-feedback"><a href="#">Feedback</a></li>
          <li class="nav-aboutus"><a href="#">About Us</a></li>
          <li class="nav-contact"><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
